.intro {
  margin-top: 20px;
}

.content-home__right__update-info {
  border-radius: 3px;
  background: $white;
}

.update__info__person {
  padding: 10px;
}

.label {
  font-size: 14px;
  font-weight: bold;
}

.title {
  background: #f5f5f5;
  border-top: 5px solid $red;
  padding: 10px;
  font-size: 14px;
  line-height: 21px;
  margin: 0px;
}

.update__info__person__item {
  padding: 10px 15px;
  font-size: 14px;
}

.si-label {
  text-decoration: line-through;
}

.si-label__text {
  vertical-align: middle;
}

.si,
.si *,
.si *::before,
.si *::after {
  box-sizing: border-box;
}
/* label */
.si {
  cursor: pointer;
  position: relative;
}
.si .si-label {
  // display: inline-block;
  padding-left: var(--guter);
  // color: var(--color-label);
  padding-left: 22px;
  // vertical-align: text-top;
}

.si > input {
  display: none;
}
/* OR */
.si > input {
  opacity: 0;
}
/* OR */
.si > input {
  visibility: hidden;
}

.si > input[type="checkbox"],
.si > input[type="radio"] {
  clip-path: polygon(0 0);
}

/* change property values smoothly */
.si .si-label::before,
.si .si-label::after {
  transition: all 0.2s ease-in-out;
}
/* an element for both checkbox and radio */
.si .si-label::before {
  content: "";
  display: block;
  //   width: var(--input-size);
  //   height: var(--input-size);
  border: var(--border-size-box) solid var(--color-default);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(0deg) scale(1);
  width: 15px;
  height: 15px;
}
/* feedback when the user interacts with an element */
.si .si-label:hover::before {
  border-color: var(--color-active);
}

/* checkbox square */
.si.si-checkbox .si-label::before {
  border-radius: var(--border-size-checkmark);
  margin-top: 6px;
}
/* checkbox checkmark */
.si.si-checkbox .si-label::after {
  content: "";
  display: block;
  width: 6px;
  height: 15px;
  border-width: 0 var(--border-size-checkmark) var(--border-size-checkmark) 0;
  border-style: solid;
  border-color: transparent var(--color-active) var(--color-active) transparent;
  position: absolute;
  top: 3px;
  left: 0;
  transform: rotate(var(--rotate-default)) scale(0);
}

/* checkbox square */
.si.si-checkbox > input:checked + .si-label::before {
  // transform: rotate(var(--rotate-active)) scale(0);
}
/* checkmark */
.si.si-checkbox > input:checked + .si-label::after {
  left: 8px;
  transform: rotate(var(--rotate-active)) scale(1);
}
