.changePass{

    width: 320px;
    border: 1px solid $light;
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
    height: 100%;

    .change__row--heading{

        width: 100%;
        height: 60px;
        background-color: $heading;
        padding: 17px 0px 18px 22px;
        display: flex;
        border-bottom: 5px solid $red;
        color: $blue;
        font-weight: 600;
    }
    .change__row{
        width: 95%;
        height: auto;
        padding: 0px 0px 7px 22px;
        display: grid;   
        margin-top: 10px;

        .change__row--head{
            display: flex;
            padding: 10px 0;
        }
        .icon{
            margin-top: 2px;
        }
        input{
            padding: 10px;
            border: 1px solid $light;
            font-family: "Oswald", sans-serif;
            font-size: 11px;
        }
        span{
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            margin-left: 10px;
        }
        
    }
    .change__btn{
            
        input{
            background-color: $lightblue;
            border: 1px solid $lightblue;
            width: 70%;
            padding: 5px;
            font-family: "Oswald", sans-serif;
            color: white;
            border-radius: 15px;
            margin-top: 10px;
            &:hover{
                background-color: $blue;
                border: 1px solid $blue;
            }
        }
    }
}
@media only screen and (max-width: 360px) and (min-width: 321px){
    .changePass{
        width: 360px !important; 
    }
}
@media only screen and (max-width: 375px)  and (min-width: 361px){
    .changePass{
        width: 375px !important; 
    }
}
@media only screen and (max-width: 406px) and (min-width: 376px){
    .changePass{
        width: 406px !important; 
    }
}
@media only screen and (max-width: 411px) and (min-width: 407px){
    .changePass{
        width: 411px; 
    }
}
@media only screen and (max-width: 415px) and (min-width: 412px){
    .changePass{
        width: 414px; 
    }
}
@media only screen and (max-width: 320px) and (min-width: 240px){
    .changePass{
        width: 320px !important; 
    }
}