.del__note{

        text-align: left;
        padding: 25px 15px 0 15px;
        p{
            font-size: 14px;
            font-family: "Roboto",sans-serif;
            span{
                color: red;
                font-weight: 600;
            }
        } 
}