#slider {
    
    .carousel-indicators {
        width: 100%;
        padding: 15px 0px;
        background: $light;
        margin: 0;
    }
    
    .carousel-indicators li {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 10px;
        height: 10px;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        background-clip: padding-box;
        border: none;
        opacity: .5;
        border-radius: 50%;
        border: 2px solid $west;
        transition: opacity 0.6s ease;
    }
    
    .carousel-item {
        min-height: 580px;
        background-size: cover !important;
    }

    .active {
        background: $red;
    }

    .topic {

        &--content {
           position: relative;

            .content__opacity {
                position: absolute;
                top: 0px;
                z-index: 2;
                background: $west;
                height: 560px;
                width: 100%;
                opacity: 0.4;
            }

            .topic--title, 
            .topic--desc,
            .topic--text {
                position: relative;
                z-index: 9;
                opacity: 0.9;
            }
        }

        &--title {
            text-align: center;
            font-family: $font-2; 
            font-size: 28px;
            padding-top: 60px;
            text-transform: uppercase;
            color: $light;
            font-weight: lighter;
        }

        &--desc {
            text-align: center;
            font-family: $font-2; 
            font-size: 16px;
            margin-top: 20px;
            text-transform: lowercase;
            color: $light;
        }

        &--text {
            text-align: center;
            font-family: $font-2; 
            font-size: 14px;
            margin: 20px auto;
            margin-bottom: 10px;
            color: $light;
        }
        
    }

    #topics {
        position: relative;
        z-index: 9;
        text-align: center;
        width: 1020px;
        margin: 0px auto;

        .item--topic {
            display: inline-block;
            padding: 5px 15px;
            color: $white;
            border-radius: 25px;
            border: 1px solid $light;
            margin-right: 20px;
            margin-top: 25px;
            &:hover {
                background: $red;
                color: $white;
            }
        }
    }

    .topic--redirect {


        margin-top: 20px;
        text-align: center;
        position: relative;
        z-index: 9;

        .link {
                margin: 25px auto;
                padding: 7px 10px;
                width: 110px;
                border-radius: 3px;
                background: $red;
                text-align: center;
                border-radius: 25px;

                a {
                    color: $white !important;
                    text-decoration: none;
                    font-weight: bold;
                }
        }

        p {
            font-size: 14px;
            font-family:  'Roboto', sans-serif;
            margin-bottom: 5px;
            color: $white;
            opacity: 0.8;


            a {
                text-decoration: underline;
                text-transform: capitalize;
                color: $white;
            }

        }

    }

    
    
}





@media only screen and (max-width: 320px) and (min-width: 240px) {
   
    #slider {
        .topic--title {
            padding-top: 30px;
            font-size: 16px;
        }
        .topic--desc {
            margin-top: 20px;
            font-size: 13px;
        }
        .topic--text {
            font-size: 13px;
            margin: 20px auto 10px auto;
        }

        #topics {
        
            width: 320px !important;
            max-height: 250px;
            overflow: hidden;
    
            .item--topic {
                margin-top: 10px;
                margin-right: 5px;
                font-size: 13px;
                
            }
        }
    }

}

@media only screen and (max-width: 375px)  and (min-width: 321px) {
    #slider {
        .topic--title {
            padding-top: 30px;
            font-size: 16px;
        }
        .topic--desc {
            margin-top: 20px;
            font-size: 13px;
        }
        .topic--text {
            font-size: 13px;
            margin: 20px auto 10px auto;
        }

        #topics {
        
            width: 375px !important;
            max-height: 250px;
            overflow: hidden;
    
            .item--topic {
                margin-top: 10px;
                margin-right: 5px;
                font-size: 13px;
                
            }
        }

        .topic--redirect {
            .link {
                font-size: 13px;
            }
        }

    }
}

@media only screen and (max-width: 425px) and (min-width: 376px){
    #slider {
        .topic--title {
            padding-top: 40px;
            font-size: 18px;
        }
        .topic--desc {
            margin-top: 20px;
            font-size: 16px;
        }
        .topic--text {
            font-size: 14px;
            margin: 20px auto 10px auto;
        }

        #topics {
        
            width: 420px !important;
            max-height: 260px;
            overflow: hidden;
    
            .item--topic {
                margin-top: 10px;
                margin-right: 5px;
                font-size: 14px;
            }
        }

        .topic--redirect {
            .link {
                font-size: 14px;
            }
        }

    }
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
   
   
    #slider {
        .carousel-item {
            min-height: 540px;
        }
        .topic--title {
            padding-top: 40px;
            font-size: 20px;
        }
        .topic--desc {
            margin-top: 20px;
            font-size: 16px;
        }
        .topic--text {
            font-size: 14px;
            margin: 20px auto 10px auto;
        }

        #topics {
        
            width: 750px !important;
            max-height: auto;
            overflow: hidden;
    
            .item--topic {
                margin-top: 15px;
                margin-right: 10px;
                font-size: 14px;
           
            }

            
        }

        .topic--content .content__opacity {
            height: 540px;
        }
        .topic--redirect {
            .link {
                font-size: 14px;
            }
        }

    }
}
